@charset "UTF-8";
* {
  background-color: #fee9e1;
  box-sizing: border-box; }

body {
  background: #edd1fa;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  margin: 0ß; }
