@import "./variables.scss";

.mine-body {
  height: 30vw;
  width: 30vw;
  border: 3px solid purple;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.all-cells {
  width: 90%;
  height: 90%;
}

.one-cell {
  width: 10%;
  height: 10%;
  border: 3px solid red;
}
